.history-page-article {
    padding: 24px 36px;
    background-color: white;
    border-radius: 10px;
    overflow-y: auto;
    height: 70vh;
}
.history-page-article h5 {
    font-size: 1.25rem;
    margin: 0px 0px 10px 0px;
}
.history-page-article p{
    font-size:0.8rem ;
    margin: 0px 0px 8px 0px;
    line-height:1.3rem ;
    color: #212529;
}
.history-page-article::-webkit-scrollbar{
    width: 4px;
}
.history-page-article::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}
.history-page-article::-webkit-scrollbar-thumb:hover {
    background-color: rgb(211, 0, 2);
}
.history-page-article::-webkit-scrollbar-track {
    background-color: grey 0px 0px 5px inset;
}