nav {
    width: 54vw;
    height: 10vh;
    position: fixed;
    color: white;
}

.nav-new {
    transform: translate(20vw, 95vh);
}

nav div span {
    background-color: var(--red);
    margin: 0;
    font-size: 0.7rem;
    text-align: center;
    padding: 7px 13px 0 13px;
    border-radius: 5px;
    position: relative;
    left: 48%;
    top: 9px;
    cursor: pointer;
}
nav ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    background-color: var(--red);
    margin: 0;
    height: 90%;
    padding: 1% 7% 1% 2%;
    border-radius: 50px;
}
.link-comp{
    text-decoration: none;
    color: inherit;
    
}
.menu-links {
    cursor: pointer;
    border-radius: 20px;
    padding: 11% 80%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    color: white;
    text-decoration: none !important;
}

.menu-links:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.menu-links div:nth-child(1) {
    margin-right: 7px;
}
@media screen and (max-width:900px) {
    nav {
        width: 90vw;
        height: 11vh;
        transform: translate(6vw, 83vh) !important;
        position: fixed;
        color: white;
    }
    nav div span {
        left:45%;
    }
    nav ul{
        padding: 1% 4%;
        height: 100%;
        overflow-x: auto;
    }
    .menu-links {
        margin-right: 10px;
        padding: 2% 60%;
    }
    .menu-links div:not(first-child){
        margin-right: 27px;
    }
   
}